@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-width: 320px;
  background-color: #f8fafc;
  color: #0f172a;
  font-family: "Inter", sans-serif;
}

* {
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

img {
  max-width: 100%;
  display: block;
}
.modal-scrollbar::-webkit-scrollbar {
  width: 0px;
}
.modal-scrollbar {
  overflow-y: auto;
}